<div class="home-container">
  <swiper-container loop="true" class="banner-carousel">
    <swiper-slide>
      <a routerLink="*">
        <img
          src="images/home/price-drop-realestate-desktop.webp"
          alt="price-drop-realestate-desktop"
        />
      </a>
    </swiper-slide>
    <swiper-slide>
      <a routerLink="*">
        <img src="images/home/drushim-desktop.webp" alt="drushim-desktop" />
      </a>
    </swiper-slide>
  </swiper-container>

  <div class="leading-category-container">
    <div class="leading-category">
      <div class="leading-category-img">
        <img src="images/home/leading-category-real-estate.webp" alt="נדלן" />
      </div>
      <span>נדל"ן</span>
    </div>
    <div class="leading-category">
      <div class="leading-category-img">
        <img src="images/home/leading-category-vehicles.webp" alt="רכב" />
      </div>
      <span>רכב</span>
    </div>
    <div class="leading-category">
      <div class="leading-category-img">
        <img
          src="images/home/leading-category-second-hand.webp"
          alt="יד שניה"
        />
      </div>
      <span>יד שנייה</span>
    </div>
    <div class="leading-category">
      <div class="leading-category-img">
        <img src="images/home/leading-category-drushim-new.webp" alt="דרושים" />
      </div>
      <span>דרושים</span>
    </div>
    <div class="leading-category">
      <div class="leading-category-img">
        <img src="images/home/leading-category-pets.webp" alt="חיות מקצוע" />
      </div>
      <span>חיות מחמד</span>
    </div>
    <div class="leading-category">
      <div class="leading-category-img">
        <img
          src="images/home/leading-category-professional.webp"
          alt="בעלי מקצוע"
        />
      </div>
      <span>בעלי מקצוע</span>
    </div>
    <div class="leading-category">
      <div class="leading-category-img">
        <img
          src="images/home/leading-category-business.webp"
          alt="עסקים למכירב"
        />
      </div>
      <span>עסקים למכירב</span>
    </div>
  </div>
  <div class="dont-miss-us-container">
    <div class="dont-miss-us">
      <div class="dont-miss-phone">
        <img src="images/home/mockup-mobile.png" alt="mockup-mobile" />
      </div>
      <div>
        <span>האפליקציה החדשה שלנו לא מפספסת כלום </span>
      </div>
      <div class="dont-miss-left">
        <div class="dont-miss-links">
          <img src="images/home/app-download-apple.svg" alt="download-apple" />
          <img
            src="images/home/app-download-google.svg"
            alt="download-google"
          />
        </div>
        <div class="dont-miss-barcode">
          <img src="images/home/barcode-download.png" alt="barcode" />
        </div>
      </div>
    </div>
  </div>

  <div class="popular-services-list">
    <span>שירותים פופולריים</span>
    <ul class="popular">
      <li>
        <img src="images/home/business.svg" alt="business" />
        <div>
          <div>נדלן מסחרי</div>
          <div>מאגר הנכסים המסחריים הענק והעדכני</div>
        </div>
      </li>
      <li>
        <img src="images/home/priceList.svg" alt="" />
        <div>
          <div>מחירון רכב</div>
          <div>מידע ומחירים בזמן אמת במחיר שוק האמיתי</div>
        </div>
      </li>
      <li>
        <img src="images/home/realestate.svg" alt="" />
        <div>
          <div>יד1</div>
          <div>פרויקטים חדשים ודירות חדשות בכל רכבי הארץ</div>
        </div>
      </li>
      <li>
        <img src="images/home/calculator.svg" alt="" />
        <div>
          <div>Yadata</div>
          <div>לדעת כמה הדירה שווה בעזרת מחשבון חדשני</div>
        </div>
      </li>
    </ul>
  </div>
</div>
