.rooms-selection-container{
    display: flex;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    border: 1px solid rgb(238,238,238);
    height: 72px;
    padding: 18px;
    gap: 5px;
    .room-button{
        display: flex;
        flex-direction: row-reverse;
    // align-items: center;
    gap: 8px;
        span{
            font-size: 0.875rem;
            width: 36px;
            vertical-align: top;
            display: inline-block;
            border: 1px solid rgb(204,204,204);
            background-color: white;
            color: rgb(54,54,54);
            font-weight: 400;
            border-radius: 50%;
            height: 100%;
            direction: ltr;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &::after{
            width: 8px;
        }
    }
    .selceted-base{
        span{
            color: rgb(255,113,0);
            border-color: rgb(255,113,0);
            background-color: rgb(255, 250, 245);
        }
    }
    .selected-right{
        position: relative;
        span{
            border-radius: 0 100% 100% 0;
            border: 1px solid rgb(255,113,0);
            border-left: none;
            color: rgb(255,113,0);
            background-color: rgb(255,250,245);
        }
        &::after{
            width: 8px;
            content: "";
            display: inline-block;
            border-bottom: 1px solid rgb(255,113,0);
            border-top: 1px solid rgb(255,113,0);
            background-color: rgb(255,250,245);
            height: 95%;
            position: absolute;
            left: -8px;
        }
    }
    .selected-left{
        span{
            border-radius: 100% 0 0 100%;
            border: 1px solid rgb(255,113,0);
            color: rgb(255,113,0);
            background-color: rgb(255,250,245);
        }
    }
    .selected-mid{
        position: relative;
        span{
            border-top: 1px solid rgb(255,113,0);
            border-right: 0;
            border-bottom: 1px solid rgb(255,113,0);
            border-left: 0;
            border-radius: 0;
            background-color: rgb(255,250,245);
            color: rgb(255,113,0);
        }
        &::after{
            width: 8px;
            content: "";
            display: inline-block;
            border-bottom: 1px solid rgb(255,113,0);
            border-top: 1px solid rgb(255,113,0);
            background-color: rgb(255,250,245);
            height: 95%;
            position: absolute;
            left: -8px;
        }
    }
}
