<main>
  <body>
    <h1>אני רוצה לפרסם מודעה בלוח...</h1>
    <div class="section-container">
      <section class="row1">
        <button routerLink="realestate" (click)="pickType(1)">
          <div class="type-img-container">
            <img class="image" src="images/publish/nadlan.svg" alt="nadlan" />
            <img
              class="image-selected"
              src="images/publish/nadlan_active.svg"
              alt="nadlan"
            />
            <h2>נדל"ן</h2>
            <div class="type-sub-title-container">
              <h3>מכירה, השכרה, מסחרי</h3>
              <button class="starting-button">מתחילים</button>
            </div>
          </div>
        </button>
        <button>
          <div class="type-img-container">
            <img class="image" src="images/publish/vehicle.svg" alt="vehicle" />
            <img
              class="image-selected"
              src="images/publish/vehicle_active.svg"
              alt="vehicle"
            />
            <h2>כלי רכב</h2>
            <div class="type-sub-title-container">
              <h3>כלי רכב, דו גלגלי, כלי שיט, מיוחדים</h3>
              <button class="starting-button">מתחילים</button>
            </div>
          </div>
        </button>
        <button>
          <div class="type-img-container">
            <img
              class="image"
              src="images/publish/second_hand.svg"
              alt="second_hand"
            />
            <img
              class="image-selected"
              src="images/publish/second_hand_active.svg"
              alt="second_hand"
            />
            <h2>יד שניה</h2>
            <div class="type-sub-title-container">
              <h3>לבית לגינה ולמשרד, חשמל, ספורט פנאי ושונות</h3>
              <button class="starting-button">מתחילים</button>
            </div>
          </div>
        </button>
      </section>
      <section class="row2">
        <button>
          <div class="type-img-container">
            <img
              class="image"
              src="images/publish/business.svg"
              alt="business"
            />
            <img
              class="image-selected"
              src="images/publish/business_active.svg"
              alt="business"
            />
            <h2>עסקים למכירה</h2>
            <div class="type-sub-title-container">
              <h3>הייטק, בתי קפה וכו</h3>
              <button class="starting-button">מתחילים</button>
            </div>
          </div>
        </button>
        <button>
          <div class="type-img-container">
            <img
              class="image"
              src="images/publish/profession.svg"
              alt="profession"
            />
            <img
              class="image-selected"
              src="images/publish/profession_active.svg"
              alt="profession"
            />
            <h2>בעלי מקצוע</h2>
            <div class="type-sub-title-container">
              <h3>הובלות, מוסכים, שיפוצים</h3>
              <button class="starting-button">מתחילים</button>
            </div>
          </div>
        </button>
        <button routerLink="publish/realestate">
          <div class="type-img-container">
            <img
              class="image"
              src="images/publish/commercial.svg"
              alt="commercial"
            />
            <img
              class="image-selected"
              src="images/publish/commercial_active.svg"
              alt="commercial"
            />
            <h2>נדל"ן מסחרי</h2>
            <div class="type-sub-title-container">
              <h3>מחסנים, קליניקות, משרדים</h3>
              <button class="starting-button">מתחילים</button>
            </div>
          </div>
        </button>
        <button>
          <div class="type-img-container">
            <img
              class="image"
              src="images/publish/drushim_new.svg"
              alt="drushim_new"
            />
            <img
              class="image-selected"
              src="images/publish/drushim_new_active.svg"
              alt="drushim_new"
            />
            <h2>משרות</h2>
            <div class="type-sub-title-container">
              <h3>הצעות עבודה</h3>
              <button class="starting-button">מתחילים</button>
            </div>
          </div>
        </button>
      </section>
      <section class="row3">
        <button>ריהוט</button>
        <button>אופנה וטיפוח</button>
        <button>חיות מחמד</button>
        <button>לתינוק ולילד</button>
        <button>סלולר</button>
      </section>
    </div>
  </body>
  <footer>גירסה:prod</footer>
</main>
