section{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px 16px 0px 16px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    &.grayed-out{
        background: rgb(248, 248, 248);
        border-color: rgb(220, 220, 220);
        .title{
            h2{
               color: rgb(153, 153, 153); 
            }
            svg{
                width: 1.5rem;
                height: 1.5rem;
                color: gray;
            }
        }
    }
    .title{
        display: flex;
        font-size: 1rem;
        // margin-top: 10px;
        align-items: center;
        h2{
            font-weight: 400;
            margin-left: auto;
        }
        .stage-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(15,202,128);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: rgb(15,202,128);
            line-height: 1;
            font-size: 1.125rem;
            font-weight: 500;
            margin-left: 10px;
            content: "";
        }
    }
    form{
        padding: 15px 24px 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .title{
            display: flex;
            flex-direction: column;
            align-items: start;
            font-size: 14px;
        }
        .divider{
            height: 1px;
            background-color: rgb(238,238,238);
            margin:   24px 0;
        }
        .button-container{
            margin-top: 40px;
            margin-bottom: 12px;
            display: flex;
            justify-content: space-between;
            font-size: 0.875rem;
            .back-button{
                cursor: pointer;
                min-height: 36px;
                padding: 0 18px;
                border: 1px solid rgb(204, 204, 204);
                border-radius: 30px;
            }
            .next-button{
                cursor: pointer;
                min-height: 36px;
                padding: 0 18px;
                background-color: white;
                color: rgb(255,113,0);
                border: 1px solid rgb(255,113,0);
                border-radius: 30px;
                font-weight: 500;
            }
        }
        .flies-cotainer{
            display: flex;
            gap: 20px;
        }
        .flie-container{
            background-color: rgb(238,238,238);
            position: relative;
            width: 255px;
            height: 266px;
            border-radius: 8px;
            .file-title{
                height: 28px;
                padding: 5px 0;
                font-weight: 500;
                line-height: 18px;
                text-align: center;
            }
        }
        input{
            min-height: 100%;
            width: 100%;
            opacity: 0;   
            z-index: 1; 
            position: relative;   
            cursor: pointer;         
        }
        .file-placeholder{
            z-index: 0;
            position: absolute;
            top: 28px;
            width: 245px;
            height: 233px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            border: 2px dashed  rgb(204, 204, 204);
            margin: 0 5px 5px;
            border-radius: 8px;
            cursor: pointer;
            .file-placeholder-title{
                max-width: 170px;
                font-size: 0.75rem;
                color: rgb(153, 153, 153);
                margin-top: 10px;
                line-height: 14px;
                text-align: center;
            }
        }
        .imgs-container{
            display: inline-grid;
            grid-column-gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            .img-container{
                // margin-top: 10px;
                width: 245px;
                // height: 233px;
                height: 266px;
                position: relative;
                overflow: hidden;
                img{
                    min-height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                }
                .delete-img-button{
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    background-color: black;
                    opacity: .6;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        width: 20px;
                        height: 20px;
                        color: white;
                    }
                }
            }
            .add-new-img{
                position: relative;
                height: 266px;
            }
        }
    }
}