
.container{
    display: flex;
    flex-direction: column;
    // gap: 64px;
    // height: 100vh;
    .nav-bar{
        position: sticky;
        z-index: 100;
        top: 0;
    }
    .content{
        height: 100%;
        // margin-top: 64px;
        // margin-top: 100%;
    }
}