<!-- <div class="slider-container">
  <input
    type="range"
    [(ngModel)]="noSwitchingSlider.minValue"
    [min]="noSwitchingSlider.options.floor"
    [max]="noSwitchingSlider.maxValue"
    [step]="noSwitchingSlider.options.step"
    (input)="onMinChange()"
  />
  <input
    type="range"
    [(ngModel)]="noSwitchingSlider.maxValue"
    [min]="noSwitchingSlider.minValue"
    [max]="noSwitchingSlider.options.ceil"
    [step]="noSwitchingSlider.options.step"
    (input)="onMaxChange()"
  />
  <div class="slider-labels">
    <span>Min: {{ noSwitchingSlider.minValue }}</span>
    <span>Max: {{ noSwitchingSlider.maxValue }}</span>
  </div>
</div> -->
<div class="custom-slider">
  <div class="price-range">
    <div class="price-max">
      <input
        type="input"
        placeholder="0"
        (input)="setMin($event)"
        [value]="inputMin"
        (keypress)="validateNumberInput($event)"
      />
      <!-- <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select> -->
    </div>
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.5 11.25a.75.75 0 01.102 1.493l-.102.007h-13a.75.75 0 01-.102-1.493l.102-.007h13z"
        fill="currentColor"
      ></path>
    </svg>
    <div class="price-min">
      <input
        type="input"
        placeholder="₪ +20,000"
        (input)="setMax($event)"
        [value]="inputMax"
        (keypress)="validateNumberInput($event)"
      />
    </div>
    <!-- [(ngModel)]="maxValue" -->
  </div>
  <ngx-slider
    (valueChange)="onMinValueChange($event)"
    (highValueChange)="onMaxValueChange($event)"
    [(value)]="minValue"
    [(highValue)]="maxValue"
    [options]="options"
  ></ngx-slider>
</div>
