<div class="common-structure">
  <div class="login-grid">
    <header class="login-header" routerLink="">
      <a class="main-logo" routerLink=""
        ><img src="images/login/logo.svg" alt="Yad2" width="72"
      /></a>
    </header>
    <main class="main-content">
      <div class="container">
        <section class="login-box">
          <div class="off-enter" routerLink="*">
            <span>כניסה למתווכים</span>
          </div>
          <div class="login-box-main">
            <!--  "-->
            <form
              class="common-form"
              [formGroup]="form"
              (ngSubmit)="onSubmit()"
            >
              <div class="form-title">היי, טוב לראות אותך</div>
              <div class="form-inputs">
                <label class="label" for="email">
                  <span class="input-title">מייל</span>
                  <div class="input-text">
                    <input
                      (input)="resetSubmited()"
                      formControlName="email"
                      class="direction-ltr"
                      [ngClass]="email?.invalid && submited ? 'error-border' : ''"
                      type="email"
                      id="email"
                      placeholder="yourmail@email.co.il"
                      autocomplete="on"
                      value=""
                    />
                  </div>
                  <div class="error" *ngIf="email?.invalid && submited">
                    <div [hidden]="!email?.errors?.['required']">
                      לא לשכוח את המייל
                    </div>
                    <div [hidden]="!email?.errors?.['email']">
                      {{"משהו לא תקין במייל, אולי התפספס @?"}}
                    </div>
                  </div>
                </label>
                <label class="label" for="password">
                  <span class="input-title">סיסמה</span>
                  <div class="input-text">
                    <input
                      (input)="resetSubmited()"
                      formControlName="password"
                      class="direction-ltr"
                      [ngClass]="password?.invalid && submited ? 'error-border' : ''"
                      type="password"
                      id="password"
                      placeholder="הקלדת סיסמה"
                      autocomplete="on"
                      value=""
                    />
                  </div>
                  <div class="error" *ngIf="password?.invalid && submited">
                    לא לשכוח להזין סיסמה
                  </div>
                </label>
                <div class="forgot-password">
                  <div>שכחתי סיסמה</div>
                </div>
              </div>
              <div class="submit-and-errors">
                <button
                  type="submit"
                  class="submit-custom-button"
                  data-testid="submit"
                >
                  <span class="text">התחברות</span>
                </button>
              </div>
              <div class="text-separation">או התחברו דרך</div>
              <div class="buttons-container">
                <button type="button" class="social-button">
                  <span>
                    <svg
                      width="26px"
                      height="26px"
                      viewBox="0 0 26 26"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>google</title>
                      <g
                        id="google"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <g
                          id="icons8-google"
                          transform="translate(4.000000, 4.000000)"
                          fill-rule="nonzero"
                        >
                          <path
                            d="M17.82495,7.23735 L17.1,7.23735 L17.1,7.2 L9,7.2 L9,10.8 L14.08635,10.8 C13.3443,12.89565 11.35035,14.4 9,14.4 C6.01785,14.4 3.6,11.98215 3.6,9 C3.6,6.01785 6.01785,3.6 9,3.6 C10.37655,3.6 11.6289,4.1193 12.58245,4.96755 L15.1281,2.4219 C13.5207,0.92385 11.3706,0 9,0 C4.02975,0 0,4.02975 0,9 C0,13.97025 4.02975,18 9,18 C13.97025,18 18,13.97025 18,9 C18,8.39655 17.9379,7.8075 17.82495,7.23735 Z"
                            id="Path"
                            fill="#FFC107"
                          ></path>
                          <path
                            d="M1.0377,4.81095 L3.99465,6.9795 C4.79475,4.9986 6.73245,3.6 9,3.6 C10.37655,3.6 11.6289,4.1193 12.58245,4.96755 L15.1281,2.4219 C13.5207,0.92385 11.3706,0 9,0 C5.5431,0 2.5452,1.95165 1.0377,4.81095 Z"
                            id="Path"
                            fill="#FF3D00"
                          ></path>
                          <path
                            d="M9,18 C11.3247,18 13.437,17.11035 15.03405,15.6636 L12.24855,13.3065 C11.34495,13.99095 10.22175,14.4 9,14.4 C6.6591,14.4 4.67145,12.90735 3.92265,10.8243 L0.98775,13.08555 C2.47725,16.0002 5.50215,18 9,18 Z"
                            id="Path"
                            fill="#4CAF50"
                          ></path>
                          <path
                            d="M17.82495,7.23735 L17.1,7.23735 L17.1,7.2 L9,7.2 L9,10.8 L14.08635,10.8 C13.72995,11.80665 13.0824,12.6747 12.2472,13.30695 C12.24765,13.3065 12.2481,13.3065 12.24855,13.30605 L15.03405,15.66315 C14.83695,15.84225 18,13.5 18,9 C18,8.39655 17.9379,7.8075 17.82495,7.23735 Z"
                            id="Path"
                            fill="#1976D2"
                          ></path>
                        </g>
                      </g></svg></span
                  ><span class="text">גוגל</span>
                </button>
                <button type="button" class="social-button">
                  <span
                    ><svg
                      width="26px"
                      height="26px"
                      viewBox="0 0 842 1220"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M702 960c-54.2 52.6-114 44.4-171 19.6-60.6-25.3-116-26.9-180 0-79.7 34.4-122 24.4-170-19.6-271-279-231-704 77-720 74.7 4 127 41.3 171 44.4 65.4-13.3 128-51.4 198-46.4 84.1 6.8 147 40 189 99.7-173 104-132 332 26.9 396-31.8 83.5-72.6 166-141 227zM423 237C414.9 113 515.4 11 631 1c15.9 143-130 250-208 236z"
                      ></path></svg></span
                  ><span class="text">אפל</span>
                </button>
              </div>
              <p class="no-acount">
                אין לך חשבון?
                <a class="common-link" routerLink="/signup">להרשמה</a>
              </p>
            </form>
            <!--  -->
          </div>
        </section>
        <section class="login-info">
          <h1 class="title-large">
            <span>לקנות מהר, למכור מהר.</span><br /><span
              >ויש לנו אחלה כלים לזה.</span
            ><br />
          </h1>
          <ul class="login-features">
            <li class="login-features-item">
              <img
                class="login-features-image"
                src="images/login/icon_alert.svg"
                alt=""
              /><span class="text">התראות</span>
            </li>
            <li class="login-features-item">
              <img
                class="login-features-image"
                src="images/login/icon_chat.svg"
                alt=""
              /><span class="text">צ׳אט</span>
            </li>
            <li class="login-features-item">
              <img
                class="login-features-image"
                src="images/login/icon_publish.svg"
                alt=""
              /><span class="text">פרסום מודעה</span>
            </li>
            <li class="login-features-item">
              <img
                class="login-features-image"
                src="images/login/icon_profile.svg"
                alt=""
              /><span class="text">אזור אישי</span>
            </li>
          </ul>
        </section>
      </div>
    </main>
    <footer class="login-footer u-only-desktop"></footer>
  </div>
</div>
