<main class="main-container">
    <body>
        <app-estate-stage1 [show]="stage === 1" (formCompleted)="nextStageAndSaveData($event , 1)" [data]="formData[1]" (click)="editMe(formData[1] , 1)"></app-estate-stage1>
        <app-estate-stage2 [show]="stage === 2" (formCompleted)="nextStageAndSaveData($event , 2)" [data]="formData[2]" (click)="editMe(formData[2] , 2)"></app-estate-stage2>
        <app-estate-stage3 [show]="stage === 3"></app-estate-stage3>
        <app-estate-stage4 [show]="stage === 4"></app-estate-stage4>
        <app-estate-stage5 [show]="stage === 5"></app-estate-stage5>
        <app-estate-stage6 [show]="stage === 6"></app-estate-stage6>
        <app-estate-stage7 [show]="stage === 7"></app-estate-stage7>
    </body>
</main>

