.main-container{
    position: relative;
    top: -4px;
    height: 100%;
    color: rgb(54,54,54);
    .filters{
        position: fixed;
        z-index: 99;
        width: 100%;
    }
    .main-content{
        height: 100%;
        display: flex;
        position: relative;
        .realestate-container{
            width: 70%;
            .content-title{
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                padding: 0 15px;
                padding-top: 95px;
            }
            .result-cotainer{
                font-size: 1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding:  15px;
                .result-amount{
                    color: rgb(153,153,153);
                }
                .order-by-container{
                    display: flex;
                    position: relative;
                    cursor: pointer;
                    .order-by-title{
                        color: rgb(153,153,153);   
                        margin-left: 6px; 
                    }
                    .drop-down-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 6px;
                      }
                      .open-rotate {
                        transform: rotate(180deg);
                      }
                      .order-by-list{
                        position: absolute;
                        width: 200px;
                        top: 100%;
                        left: 0;
                        background-color: white;
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
                        border-radius: 12px;
                        border: 1px solid rgb(238,238,238);
                        .order-by-list-item{
                            font-size: 1rem;
                            padding: 12px 12px 12px 60px;
                            position: relative;
                            &:hover{
                                background-color: rgb(248, 248, 248);
                            }
                            &.selected-by{
                                font-weight: 500;
                                background-color: rgb(248, 248, 248);
                                &::after{
                                    content: "✓";
                                    color: rgb(255, 113, 0);
                                    position: absolute;
                                    left: 20px;
                                }
                            }
                        }
                      }
                }
            }
        }
        .map-container{
            left: 0;
            top: 25%;
            position: sticky;
            height: 70vh;
            width: 30%;
            // background-color: rgba(45, 104, 104, 0.677);
            background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 72%);

        }
        .content-container{
            display: flex;
            flex-direction: column;
        }
        .paginator{
            align-self: center;
        }
    }
}
