.navbar-container {
  direction: rtl;
  display: flex;
  //   height: 4rem;
  flex-wrap: wrap;
  min-height: 64px;
  //   height: 64px;
  padding: 0 20px;

  img {
    width: 74px;
  }

  .nav {
    height: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    .nav-item {
      position: relative;
      height: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;

      ul {
        min-width: 225px;
        display: none;
        grid-template-rows: repeat(8, 25px);
        gap: 11px;
        padding: 25px;
        grid-auto-flow: column;
        line-height: 25px;
        position: absolute;
        top: 64px;
        right: 0;
        // display: flex;
        // height: 100%;
        // display: none;
        // align-items: center;
        li {
          height: 100%;
          list-style: none;
          padding: 0;
          margin: 0;
          width: 100%;
          span {
            min-width: 150px;
          }
        }
      }

      &:hover {
        background-color: rgb(238, 238, 238);
        ul {
          display: grid;
        }
      }
    }
  }

  span {
    color: #363636;
    cursor: pointer;
  }
}
