<div class="navbar-container">
    <div routerLink="">
        <img src="/logo-secondhand.jpg" alt="logo-secondhand">
    </div>
    <div>
        <ul class="nav">
            <li routerLink="realestate" class="nav-item nav-item-canOpen">
                <span>נדל"ן</span>
                <ul>
                    <li routerLink="realestate/forsale">
                        <span>דירות למכירה</span></li>
                    <li routerLink="realestate/rent">
                        <span>דירות להשכרה</span></li>
                    <li routerLink="*">
                        <span>נדל"ן מסחרי</span></li>
                    <li routerLink="*">
                        <span>עסקים למכירה</span></li>
    
                    <li routerLink="*">
                        <span>יד1 דירות חדשות</span></li>
                    <li routerLink="*">
                        <span>כונס נכסים</span></li>
                    <li routerLink="*">
                        <span>הערכת שווי נכס</span></li>
                    <li routerLink="*">
                        <span>משרדי תיווך בישראך</span></li>
                    <li routerLink="*">
                        <span>ייעוץ משכנתאות</span></li>
                </ul>
            </li>
            <li routerLink="*" class="nav-item nav-item-canOpen">
                <span>רכב</span>
                <ul>
                    <li routerLink="*">
                        <span>פרטיים ומסחריים</span></li>
                    <li routerLink="*">
                        <span>אופנועים</span></li>
                    <li routerLink="*">
                        <span>קטנועים</span></li>
                    <li routerLink="*">
                        <span>מיוחדים</span></li>
                    <li routerLink="*">
                        <span>אביזרים</span></li>
                    <li routerLink="*">
                        <span>משאיות</span></li>
                    <li routerLink="*">
                        <span>כלי שייט</span></li>
    
                    <li routerLink="*">
                        <span>מחירון רכב</span></li>
                    <li routerLink="*">
                        <span>מימון רכב</span></li>
                </ul>
            </li>
            <li routerLink="*" class="nav-item nav-item-canOpen">
                <span>יד שנייה</span>
                <ul>
                    <li routerLink="*">
                        <span>כל המוצרים</span></li>
                    <li routerLink="*">
                        <span>מוצרי חשמל</span></li>
                    <li routerLink="*">
                        <span>ריהוט</span></li>
                    <li routerLink="*">
                        <span>ספורט</span></li>
                    <li routerLink="*">
                        <span>סלולרי</span></li>
                    <li routerLink="*">
                        <span>לתינוק ולילד</span></li>
                    <li routerLink="*">
                        <span>הכל בחינם!</span></li>
                    <li routerLink="*">
                        <span>קונסולות משחק</span></li>
    
                    <li routerLink="*">
                        <span>מחשבים וציוד נלווה</span></li>
                    <li routerLink="*">
                        <span>לגינה</span></li>
                    <li routerLink="*">
                        <span>אופנה וטיפוח</span></li>
                </ul>
            </li>
            <li routerLink="*" class="nav-item nav-item-canOpen">
                <span>דרושים IL</span>
                <ul>
                    <li routerLink="*">
                        <span>חיפוש עבודה</span></li>
                    <li routerLink="*">
                        <span>פרסום משרות</span></li>
                    <li routerLink="*">
                        <span>כתיבת קורות חיים</span></li>
                    <li routerLink="*">
                        <span>אודות החברות</span></li>
                    <li routerLink="*">
                        <span>דרושים הייטק</span></li>
                    <li routerLink="*">
                        <span>דרושים סטודנטים</span></li>
                    <li routerLink="*">
                        <span>מגזין הקריירה</span></li>
                    <li routerLink="*">
                        <span>כספים</span></li>
                    <li routerLink="*">
                        <span>מכירות</span></li>
                    <li routerLink="*">
                        <span>שירות לקוחות</span></li>
    
                    <li routerLink="*">
                        <span>אדמיניסטרציה</span></li>
                    <li routerLink="*">
                        <span>מהנדסים</span></li>
                    <li routerLink="*">
                        <span>תחבורה</span></li>
                    <li routerLink="*">
                        <span>מסעדנות/תיירות</span></li>
                    <li routerLink="*">
                        <span>אבטחה</span></li>
                    <li routerLink="*">
                        <span>בריאות</span></li>
                    <li routerLink="*">
                        <span>בעלי מקצוע</span></li>
                    <li routerLink="*">
                        <span>הדרכה/הוראה</span></li>
                    <li routerLink="*">
                        <span>שיווק</span></li>
                    <li routerLink="*">
                        <span>לתחומים נוספים</span></li>
                </ul>
            </li>
            <li routerLink="*" class="nav-item nav-item-canOpen">
                <span>עסקים למכירה</span>
                <ul>
                    <li routerLink="*">
                        <span>בית קפה ומסעדות</span></li>
                    <li routerLink="*">
                        <span>זכיינות</span></li>
                    <li routerLink="*">
                        <span>קווי חלוקה</span></li>
                    <li routerLink="*">
                        <span>הזדמנות עסקיות</span></li>
                    <li routerLink="*">
                        <span>מינימרקטים וסופרמרקטים</span></li>
                    <li routerLink="*">
                        <span>קיוסקים ופיצוציות</span></li>
                    <li routerLink="*">
                        <span>לכל העסקים</span></li>
                </ul>
            </li>
            <li routerLink="*" class="nav-item nav-item-canOpen">
                <span>חיות מחמד</span>
                <ul>
                    <li routerLink="*">
                        <span>כלבים</span></li>
                    <li routerLink="*">
                        <span>חתולים</span></li>
                    <li routerLink="*">
                        <span>תוכים ובעלי כנף</span></li>
                    <li routerLink="*">
                        <span>דגים</span></li>
                    <li routerLink="*">
                        <span>זוחלים</span></li>
    
                    <li routerLink="*">
                        <span>מכרסמים</span></li>
                    <li routerLink="*">
                        <span>סוסים</span></li>
                    <li routerLink="*">
                        <span>תרנגולים</span></li>
                    <li routerLink="*">
                        <span>חיות משק</span></li>
                    <li routerLink="*">
                        <span>חמוסים</span></li>
                </ul>
            </li>
            <li routerLink="*" class="nav-item nav-item-canOpen">
                <span>בעלי מקצוע</span>
                <ul>
                    <li routerLink="*">
                        <span>מכוני בדיקה ורישוי לרכב</span></li>
                    <li routerLink="*">
                        <span>רחיצת רכב</span></li>
                    <li routerLink="*">
                        <span>חומרי בניין</span></li>
                    <li routerLink="*">
                        <span>איסטלטורים</span></li>
                    <li routerLink="*">
                        <span>חשמלאים</span></li>
                    <li routerLink="*">
                        <span>שמאי מקרקעין</span></li>
                    <li routerLink="*">
                        <span>שיפוצים</span></li>
                    <li routerLink="*">
                        <span>הובלות</span></li>
                    <li routerLink="*">
                        <span>רהיטים</span></li>
                    <li routerLink="*">
                        <span>חברות ניקיון ואחזקה</span></li>
                    <li routerLink="*">
                        <span>לכל בעלי המקצוע</span></li>
                </ul>
            </li>
            <li class="nav-item"></li>
        </ul>
    </div>
    <div>fav/ userandsuch</div>
</div>
